<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRedPill" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50205/KnockKnockService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
                contract="KnockKnockService.IRedPill" name="BasicHttpBinding_IRedPill" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
